<h1>Students</h1>


<% unless @student.first.nil?  %>
<table id="students_table">
  <thead>
    <tr>
      <th width="50%">Name</th>
      <th width="50%">Form</th>
    </tr>
  </thead>
  <tbody>


    <% @student.each do |t| %>
      <tr class="<%= cycle('even', 'odd') %>">
        <td><%= link_to (t.fore_name + " " + t.last_name), student_path(:id => t.id) %> </td><td> <%= t.form.name %>  </td>
      </tr>
    <% end %>
</tbody>
<table>

  <% else %>
  <h2> This school has no students </h2>
  <% end %>

  <p><%= link_to "New student", new_student_path %></p>
