<h2> Departments</h2>

<% @department.each do |s| %>
  <p><%= link_to s.name, s %> | <%= s.school.name %> | <%= link_to "edit", edit_department_path(s.id) %></p>
<% end %>

<%= link_to "New Department", new_department_path %>
