<h1><%= link_to @department.name, edit_department_path  %></h1>


<h3>Staff</h3>
<table id="Staff_table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>

<% @users.each do |t| %>
  <tr><td><%=  link_to t.name, edit_user_path %> </td><td>  <%= t.role.name %> </td></tr>
<% end %>
</tbody>
</table>


<p><%= link_to 'create new staff', new_user_path %></p>
