<h1>Teachers</h1>

<% unless @teacher.first.nil?  %>
<h2><%= @teacher.first.school.name %></h2>
    <% @teacher.each do |t| %>
      <p><%= link_to (t.title + " " + t.name), edit_school_teacher_path(:id => t.id) %> | <%= t.department.name %> | <%= t.role.name %> </p>
    <% end %>
  <% else %>
  <h2> This school has no teachers </h2>
  <% end %>
