/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
 /*
  */
@import "bootstrap";

tr{ height:34px; }

.odd {
  background-color: #e6f2ff;
}

.notice {
    color: #00529B;
}
.alert {
  	color: #4F8A10;
}

.overdue {
  color: #FF0000;
}

a.navbar-nav:hover, a.navbar-nav:active {color: red;}

.sm {
  margin-left: 15px;
  color: black;
}

li a {
  color: white
}

li a:hover {
  color: gray
}

.a_box {
  width: 50%;
}

.white_text {
  color: white
}
